<%- include("header") -%>

<div id="body_inner">
    <h1 id="movie_title"><%= movieTitle %></h1>
    <img src="<%= moviePoster %>" alt="Movie poster for <%= movieTitle %>">
    <p><%= movieYear %></p>
    <p>Cast: <%= movieCast %></p>
    <p>Plot: <%= moviePlot %></p>
</div>

<%- include("footer") -%>
